@page "/"
@* Tohle říká stránce, kde najde tvoje třídy *@
@using finance_by_kubi.Models
@using finance_by_kubi.Services

<PageTitle>Přehled - Finance by </PageTitle>

<h2>Můj přehled</h2>

<button class="btn btn-primary mb-3" @onclick="ShowTransactionModal">
    <span class="bi bi-plus-lg me-2"></span> Nová platba
</button>
<button class="btn btn-primary mb-3" @onclick="ShowCategoryModal">
    <span class="bi bi-plus-lg me-2"></span> Přidat kategorii
</button>




@if (_account == null)
{
    <p>Načítám data...</p>
}
else
{
   


    <div class="alert alert-info fs-5">
        Celkový zůstatek: <strong>@_account.Balance Kč</strong>
        Celková útrata: <strong>@_account.TotalOutcome Kč </strong>
    </div>

    @* Všimni si těch CSS tříd (table, table-striped) – to je Bootstrap, který to obarví za tebe *@
    <table class="table table-striped table-hover mt-2">
        <thead class="table-dark">
            <tr>
                <th @onclick='() => SortTable("Datum")'>Datum</th>
                <th @onclick='() => SortTable("Popis")'>Popis</th>
                <th>Kategorie</th>
                <th class="text-end" @onclick='() => SortTable("Částka")'>Částka</th>
                <th style="width: 50px"></th>
                <th style="width: 50px"></th>
            </tr>
        </thead>
        <tbody>
            @* Tohle je ta magie! Obyčejný C# foreach cyklus přímo v HTML *@
            @foreach (var t in _account.Transactions)
            {
                <tr>
                    <td>@t.Date.ToShortDateString()</td>
                    <td>@t.Description</td>
                    <td><span class="badge bg-secondary">@t.CategoryName</span></td>
                    @* Tady dynamicky měníme barvu (červená/zelená) podle toho, jestli je to příjem *@
                    <td class="text-end @(t.IsIncome ? "text-success fw-bold" : "text-danger")">
                        @(t.IsIncome ? "+" : "-") @t.Amount Kč
                    </td>
                    <td class="text-center">
                        <button class="btn btn-outline-primary btn-sm" style="block-size: 30px" @onclick="() => EditTransaction(t)">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-danger d-flex justify-content-center align-items-center" style="height: 30px; width: 30px">
                            <i class="bi bi-trash" style="font-size: 20px;"></i>
                        </button>
                    </td>
                        

                </tr>
            }
        </tbody>
    </table>
    
    
    @inject IJSRuntime JSRuntime
    
    
    @if (showToast)
    {
        <div class="toast show slide-in-right position-fixed top-0 end-0 m-3 @(isSuccess ? "text-bg-success" : "text-bg-danger")  border-0 shadow" style="z-index: 1055;">
            <div class="d-flex">
                <div class="toast-body fs-6">
                    <span class="bi bi-check-circle me-2"></span> @toastMessage
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" @onclick="CloseToast"></button>
            </div>
        </div>
    }

                    
                    <AddCategoryModal @ref="categoryModal"
                    AccountData="_account"
                    OnCategoryAdded="HandleCategoryAdded"
                    OnCategoryFailed ="HandleCategoryFailed"/>

                    <AddTransactionModal @ref="transactionModal"
                        AccountData="_account"
                        OnTransactionAdded="HandleTransactionAdded"
                        OnTransactionFailed="HandleTransactionFailed"
                        />

}

@code {
    // Tady začíná čistý C#
    private Account? _account;
    List<Transaction> loadedTransactions;
    List<Category> loadedCategories;
    List<Transaction> tableTransactions;
    FileStorageService _storage = new FileStorageService();

    // TOAST    
    private bool isSuccess;
    private string toastMessage = "";
    private bool showToast = false;
    //
    private bool _descending = false;
    private string _lastHeader = "";

    //Category modal
    private AddCategoryModal categoryModal;

    private async Task ShowCategoryModal()
    {
        await categoryModal.OpenModal();
    }
    private async Task HandleCategoryAdded(string message)
    {
        await ShowToast(message, true);
        StateHasChanged();
    }
    private async Task HandleCategoryFailed(string message)
    {
        await ShowToast(message, false);
        StateHasChanged();
    }

    //Transaction modal
    private AddTransactionModal transactionModal;

    private async Task ShowTransactionModal()
    {
        await transactionModal.OpenModal();
    }
    private async Task HandleTransactionAdded(string message)
    {
        await ShowToast(message, true);
        
        StateHasChanged();
    }
    private async Task HandleTransactionFailed(string message)
    {
        await ShowToast(message, false);
        StateHasChanged();
    }

    private async Task EditTransaction(Transaction t)
    {
        await transactionModal.LoadTransaction(t);
    }

    private void SortTable(string headerName)
    {
        if (_lastHeader == headerName)
        {
            _descending = !_descending;
        }
        else
        {
            _descending = true;
            _lastHeader = headerName;
        }

        switch (headerName)
        {
            case "Datum":
                _account.Transactions = _descending
                    ? _account.Transactions.OrderByDescending(t => t.Date).ToList()
                    : _account.Transactions.OrderBy(t => t.Date).ToList();
                break;

            case "Popis":
                _account.Transactions = _descending
                    ? _account.Transactions.OrderByDescending(t => t.Description).ToList()
                    : _account.Transactions.OrderBy(t => t.Description).ToList();
                break;

            case "Částka":
                _account.Transactions = _descending
                    ? _account.Transactions.OrderByDescending(t => t.Amount).ToList()
                    : _account.Transactions.OrderBy(t => t.Amount).ToList();
                break;
        }
    }
 


    private void CloseToast()
    {
        showToast = false;
    }

    private async Task ShowToast(string message, bool succ)
    {

        toastMessage = message;
        isSuccess = succ;
        showToast = true;
        StateHasChanged();

        await Task.Delay(3000);

        showToast = false;
        StateHasChanged();


    }

    // Tato metoda se spustí sama hned při načtení stránky
    protected override void OnInitialized()
    {

        // 1. Založíme testovací kategorie
       
        
       
        loadedCategories = _storage.LoadCategories();
        loadedTransactions = _storage.LoadTransactions() 
        .OrderByDescending(t => t.Date)
        .ToList();
        

        
        // 2. Vytvoříme účet (přesně jak jsi to měl ve WinForms)
        _account = new Account(loadedTransactions, loadedCategories);

        // 3. Vygenerujeme testovací data, abychom měli na co koukat
        
    }

    private void GenerateTestData()
    {
        var random = new Random();
        for (int i = 0; i < 100; i++)
        {
            var cat = _account.Categories[random.Next(_account.Categories.Count)];
            bool isIncome = random.Next(0, 2) == 0;
            decimal amount = random.Next(50, 2000);
            
            // Využíváme tvůj konstruktor s ochranou proti prázdnému popisu
            var t = new Transaction($"Testovací nákup {i + 1}", amount, isIncome, cat);
            t.Date = DateTime.Now.AddDays(-random.Next(0, 30));
            
            _account.Transactions.Add(t);
        }
    }
}